.lw { font-size: 60px; }
body{
  
  height: 100vh;
  width:  100vw;
  background-image: url("https://s2.best-wallpaper.net/wallpaper/5120x2880/1901/Kanas-beautiful-winter-trees-snow-fog-mountains-China_5120x2880.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
